hr {
    width: 5%;
    color: red;
    border: 5px solid #0f36df;
    margin: 0% 0% 4% 0%;
}
.head {
    font-weight: bold;
    margin: 0% 0% 4% 0%;
    color: #3fbbc0 !important;
}
.myname {
    color: #0268be !important;
}
.home_p{
    font-size:medium
}
.icon-box .details{
  border-radius:4px;
 
}
.head-logo {
    text-align: center;
    margin: 2% 0% 5%;
    color: #0268be;
    font-size: 60px;
}
    .head-logo::after{
        content:" ";
        width:100px;
        height:100px;
        background-color:#000;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 825px;
    }
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 825px;
}
.Modified {
    display: flex;
    flex-direction:column;
}
.valid {
    color: #d71010;
    margin-top: 0.6rem;
}
@media screen and (max-width:768px){
    .Mood{
        margin-top:10%;
    }
}
@media (max-width:802px) and (min-width:768px){
    .head-logo{
        font-size:3rem;
    }
}
@media (min-width:260px) and (max-width:769px){
    .head-logo {
        font-size: 2.3rem;
    }
    .section-title h2{
        font-size:1.7rem;
    }
    #footer .copyright{
        font-size:0.8rem;
    }
}
@media (min-width:400px) and (max-width:561px){
    .section-title p {
        font-size: 1.1rem;
    }
}
@media (min-width:240px) and (max-width:399px){
    .section-title p {
        font-size: .9rem;
    }
}
.head-table {
    background-color: #0268be;
}


body {
    font-family: 'Lato', sans-serif;
   
}

.wrapper {
    padding-top: 120px;
}

.card-img-top {
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.card-body {
    text-align: center;
    box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5)
}

    .card-body h6 {
        font-size: 14px;
        text-transform: uppercase;
        color: deeppink;
    }

.card-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

.socials a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
}

    .socials a i {
        color: #fff;
        padding: 12px 0;
    }

    .socials a:nth-child(1) {
        background: #3b5998;
    }

    .socials a:nth-child(2) {
        background: #ff0000;
    }

    .socials a:nth-child(3) {
        background: #007bb5;
    }

    .socials a:nth-child(4) {
        background: #ea4c89;
    }

@media (max-width: 800px) {
    .mx-30 {
        margin-bottom: 30px;
    }
}


.error-main {
    background-color: #fff;
    box-shadow: 0px 10px 10px -10px #5D6572;
}

    .error-main h1 {
        font-weight: bold;
        color: #444444;
        font-size: 100px;
        text-shadow: 2px 4px 5px #6E6E6E;
    }

    .error-main h6 {
        color: #42494F;
    }

    .error-main p {
        color: #9897A0;
        font-size: 14px;
    }
.Person {
    cursor:pointer;
    transition:all .5s ease-in-out;
    margin-bottom:2%;
 
}
.Person:hover{
  -webkit-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
}
.Person .card img{
    opacity:0.8;
}
.Person:hover .card img{
    opacity:1;
}
.foot{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}
.foot span i{
    font-size:1.4rem;
}
    .foot span {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content:center;
      
    }
.Go input[type='submit'] {
    margin-bottom: 3%;
    width:30%;
}