hr {
    width: 5%;
    color: red;
    border: 5px solid #0f36df;
    margin: 0% 0% 4% 0%;
}
.head {
    font-weight: bold;
    margin: 0% 0% 4% 0%;
    color: #3fbbc0 !important;
}
.myname {
    color: #0268be !important;
}
.home_p{
    font-size:medium
}
.icon-box .details{
  border-radius:4px;
 
}
.head-logo {
    text-align: center;
    margin: 2% 0% 5%;
    color: #0268be;
    font-size: 60px;
}
    .head-logo::after{
        content:" ";
        width:100px;
        height:100px;
        background-color:#000;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 825px;
    }
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 825px;
}
.Modified {
    display: flex;
    flex-direction:column;
}
.valid {
    color: #d71010;
    margin-top: 0.6rem;
}
@media screen and (max-width:768px){
    .Mood{
        margin-top:10%;
    }
}
@media (max-width:802px) and (min-width:768px){
    .head-logo{
        font-size:3rem;
    }
}
@media (min-width:260px) and (max-width:769px){
    .head-logo {
        font-size: 2.3rem;
    }
    .section-title h2{
        font-size:1.7rem;
    }
    #footer .copyright{
        font-size:0.8rem;
    }
}
@media (min-width:400px) and (max-width:561px){
    .section-title p {
        font-size: 1.1rem;
    }
}
@media (min-width:240px) and (max-width:399px){
    .section-title p {
        font-size: .9rem;
    }
}



