@model IEnumerable<UserCommentsViewModel>;
@if (Model.Count() > 0)
{
<section style="background-color: #f7f6f6;">
    <div class="container  text-dark">
        <div class="row d-flex justify-content-center">
            @foreach (var comment in Model)
            {

                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp"
                                     alt="avatar"
                                     width="40"
                                     height="40" />
                                <div class="w-100">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h6 class="text-primary fw-bold mb-0">
                                            @comment.UserName
                                            <span class="text-dark ms-2">@comment.CommentUser</span>
                                        </h6>
                                        <p class="mb-0">@comment.Date</p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="small mb-0" style="color: #aaa;">
                                            <a href="#!" class="link-grey">Remove</a> •
                                        </p>
                                        <div class="d-flex flex-row">
                                            <i class="fas fa-star text-warning me-2"></i>
                                            <i class="far fa-check-circle" style="color: #aaa;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>
    </div>
</section>


}



