@model User;
@{
    Layout = null;
}
@*Style Of Css*@
<link href="~/assets/css/mystyle.css" rel="stylesheet" />
@*FontAwesome*@
<link href="~/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<div class="page-content">
    <div class="form-v5-content">
        <form asp-area="" asp-controller="News" asp-action="Register" asp-antiforgery="true" enctype="multipart/form-data" class="form-detail" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <h2>Register Account </h2>
            <div class="form-row">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="input-text" placeholder="First Name" required>
                <i class="fas fa-user"></i>
                <span asp-validation-for="FirstName" class="Vald"> </span>
            </div>
            <div class="form-row">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="input-text" placeholder="Last Name" required>
                <i class="fas fa-user"></i>
                <span asp-validation-for="LastName" class="Vald"> </span>
            </div>
            <div class="form-row">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="input-text" placeholder="Your Email" >
                <i class="fas fa-envelope"></i>
                <span asp-validation-for="Email" class="Vald"> </span>

            </div>
            <div class="form-row">
                <label asp-for="Password"></label>
                <input type="password"  asp-for="Password" class="input-text" placeholder="Your Password">
                <i class="fas fa-lock"></i>
                <span asp-validation-for="Password" class="Vald"> </span>
            </div>
            <div class="form-row">
                <label asp-for="CountryId"></label>
                <select asp-for="CountryId" asp-items="@ViewBag.Countries" class="select-text" name="country">
                    <option selected style="font-weight:bold">Select Country</option>
                   
                </select>
                <i class="fas fa-home"></i>
                <span asp-validation-for="CountryId" class="Vald"> </span>

            </div>
            <div class="form-row">
                <label asp-for="Image"></label>
                <input type="file" asp-for="File" class="input-text" placeholder="Your Image">
                <i class="fas fa-folder-plus"></i>
                <span asp-validation-for="File" class="Vald"> </span>
            </div>
            <div class="form-row-last">
                <input type="submit" name="register" class="register" value="Register">
            </div>
           
                <div class="form-row-last">
                    <a class="btn btn-primary display-3 haveAccount" asp-area="" asp-controller="News" asp-action="Login">Are you have account</a>
                </div>
            
        </form>
    </div>
</div>

@section Script{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}