@model IEnumerable<Team>;
@{
    ViewData["Title"] = "TeamMember";
}
<!-- ======= TeamMember Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>TeamMember</h2>
        </div>
        <div class="row">
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon">@item.Image</div>
                            <h4><a href="">@item.Name</a></h4>
                            <p>@item.JopTitle</p>
                        </div>
                    </div>

                }
            }
        </div>

    </div>
</section><!-- End Services Section -->
